.shell{
width: 70%;
margin: 0 auto
}

.table{
    min-width: 650px
}
.chatSection{
    width: 50%;
    height: 80vh
}
.headBG{
    background-color: #e0e0e0
}
.borderRight500{
    border-right: 1px solid #e0e0e0
}
.messageArea{
    height: 70vh;
    overflow-y: auto
}
.MuiGrid-grid-xs-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    border-right: outset;
}
.chat-users {
    border-radius: 10px;
    border-top: 1px solid;
    background-color: #7160ff;
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;

}

.header-message{
border-radius: 10px;
border-top: 1px solid;
background-color: #7160ff;
padding: 10px 15px 15px;
color: #fff;
margin-bottom: 2px;
}
.chat {
    display: inline-flex;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #7160ff;
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;
}
.list-text {
    border-radius: 10px;
    border-top: 1px solid;
    background-color: #7160ff;
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;
}

/*style={{*/
/*'borderRadius': '10px',*/
/*'borderTop': '1px solid',*/
/*'backgroundColor': '#7160ff',*/
/*'padding': '10px 15px 15px',*/
/*'color': '#fff',*/
/*'margin-bottom': '2px'
}}*/